.cartIcon{
    width: 3rem;
    height: 2.5rem;
  
    cursor: pointer;
}
.pathFill{
    fill: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    .cartIcon{
        display: grid;
        place-content: center;
        width: 4rem;
        height: 2.5rem;
        cursor: pointer;
        /* background: aquamarine; */

    }
}