.button {
  position: relative;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: white;
  color: white;
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s;


  }
  
  /* .button:hover,
  .button:active {
    background-color: #2e2e2e;
    border-color: #e4e4e4;
  } */
  
  .icon {
   color: white;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
  }
  
  .badge {
    top: -7%;
    font-size: 1.3rem;
    left: 37%;
    position: absolute;
    background-color: #000000;
    padding: 0.03rem 0.8rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
    transition: all 0.3;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #2e2e2e;
    border-color: #e4e4e4;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

@media screen and (max-width: 768px) {

  .button {
    position: relative;
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: white;
    color: white;
    padding: 0.6rem 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.3s;
  }
  
  /* .button:hover,
  .button:active {
    background-color: #2e2e2e;
    border-color: #e4e4e4;
  } */
  
  .icon {
   color: white;
    width: 2rem;
    height: 2.2rem;
    margin-right: 1rem;
  }
  
  .badge {
    top: -7%;
    font-size: 1.3rem;
    left: 37%;
    position: absolute;
    background-color: #000000;
    padding: 0.03rem 0.8rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
    transition: all 0.3;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #2e2e2e;
    border-color: #e4e4e4;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

}