@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

.changePasswordWrapper{
    font-family: 'Futura PT', sans-serif;
    width: 50rem;
    max-height: 70rem;
    margin: 5rem auto;
    padding: 1.2rem 2.4rem;
    /* background-color:aqua; */
}
.changePasswordHeader{
    display: grid;
    align-items: center;
}
.title{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 4.4rem;
    line-height: 6rem;
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: 2rem;
    text-align: center;

}

.inputPass{
    position: relative;
}
.eyeIcon{
    position: absolute;
    top: 16px;
    right: 16px;
    color: #868e96;
}
